  /* Add custom styling for content boxes */
  .content-box {
    background-color: #87CEEB; /* Sky blue */
    color: white; /* White font */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Center the footer */
  footer {
    text-align: center;
  }
  
.contact-box {
  background-color: #ffffff;
  /* Set background color to white */
  padding: 20px;
  border-radius: 8px;
  border: 2px solid black;
}
/* Footer styles */
footer {
  background-color: #000000;
  /* Set background color to dark grey */
  text-align: center;
  padding: 1em;
  animation: slideUp 1s ease-in-out;
  color: #fff;
  /* Set font color to white */
}

    
    